---
import { Icon } from "astro-icon/components";

/** 
	Uses https://www.astroicon.dev/getting-started/
	Find icons via guide: https://www.astroicon.dev/guides/customization/#open-source-icon-sets
*/
const socialLinks: {
	friendlyName: string;
	link: string;
	name: string;
}[] = [
	{
		friendlyName: "Github",
		link: "https://github.com/mawagusura",
		name: "mdi:github",
	},
	{
		friendlyName: "Mastodon",
		link: "https://mastodon.social/@mawagusura@piaille.fr",
		name: "mdi:mastodon",
	},
	{
		friendlyName: "LinkedIn",
		link: "https://www.linkedin.com/in/amaury-lucas",
		name: "mdi:linkedin",
	},
];
---

<div class="flex flex-wrap items-end gap-x-4">
	<p>Find me there:</p>
	<ul class="flex flex-1 items-center gap-x-2 sm:flex-initial">
		{
			socialLinks.map(({ friendlyName, link, name }) => (
				<li class="flex">
					<a
						class="inline-block p-1 sm:hover:text-link"
						href={link}
						rel={`noopener noreferrer`}
						target="_blank"
					>
						<Icon aria-hidden="true" class="h-6 w-6" focusable="false" name={name} />
						<span class="sr-only">{friendlyName}</span>
					</a>
				</li>
			))
		}
	</ul>
</div>
